<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <meta name="keywords" content="更新,通知,ウェブプッシュ,プッシュ,WebPush,Push,RSS,ATOM" />
        <meta name="discription" content="気にサイトの更新をWebPush通知で受け取れるサービス" />
        <title>まとプ - 気になるサイトの更新をまとめてWebPush通知 -</title>
        <link rel="manifest" href="/manifest.json">
        <link rel="stylesheet" href="style/webpush.css" />
        <link rel="icon" type="image/x-icon" href="/img/hira_31.ico" />

        <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
        <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
        <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
        <script src="https://unpkg.com/dexie@latest/dist/dexie.js"></script>
        <script src="js/main.js"></script>
    </head>

    <body>
        <div class="container">
            <h1>気になるサイトの更新をまとめてWebPush通知</h1>
            <div id="control">
                <button id="subscribe" class="btn-sm btn-primary" disabled></button>
                <button id="test" class="btn-sm btn-primary" disabled>通知をテストする</button>
            </div>

            <div id="how_to_use"><BR>
                <dl class="dl-horizontal">
                    <dt>対応ブラウザ</dt><dd>FireFox, Chrome</dd>
                    <dt>対応OS</dt><dd>Windows, Android, Mac</dd>
                    <dt>使い方</dt><dd>①プッシュ通知を有効にして、テスト通知が届くことを確認してください。</dd>
                    <dt></dt><dd>②下記の「登録済みサンプルサイト」のリストから更新を通知してほしいサイトをチェックしてください。</dd>
                    <dt></dt><dd>③「登録済みサンプルサイト」のリストにないサイトはサイトURLを参考にフィード配信しているURLを入力することで追加ができます。</dd>
                    <dt></dt><dd>→RSS 1.0, RSS 2.0, ATOMに対応しています。(html内にフィードへのリンクがあればhtmlを指定してもいいです)</dd>
                    <dt>通知について</dt><dd><strong>１時間に１回、サーバー側でサイトを巡回して新着記事があればWebPushで通知します。</strong></dd>
                </dl>
            </div>
            <div id="matopush">
                <b-tabs small v-model="tabIndex">
                    <b-tab title="サイト別" v-on:click="ontabclick('site')">
                        <template v-for="(site, siteid) in myList.items">
                            <br>
                            <h6>
                                <template v-if="site.SiteIcon!=''">
                                    <img v-bind:src="site.SiteIcon" style="width: 1.2rem; height: 1.2rem;"/>
                                </template>
                                <a v-bind:href="site.SiteUrl" target="_blank">{{site.SiteTitle}}</a>
                            </h6>
                            <div style="height: 200px;">
                            <b-carousel class="h-100" v-bind:id="site.FeedUrl"
                                        style="text-shadow: 1px 1px 2px #333;"
                                        background="rgb(76, 76, 76)"
                                        :interval="0"
                                        controls
                                        indicators
                                >
                                <template v-for="(content, contentid) in site.Contents">
                                    <b-carousel-slide
                                                style="height: 200px;"
                                                v-bind:id="content.Url"
                                                v-bind:img-src="content.ImageUrl"
                                                fluid-grow
                                                >
                                        <div style="height: 130px; background-color: rgba(0, 0, 0, 0.3); color:white; display: flex;" 
                                                    v-on:click="openUrl(content.Url)">
                                            <div style="margin: auto; flex: 0 1 auto;">
                                                <h6 style="font-size: small;"
                                                    v-text="content.Title" >
                                                </h6>
                                                <p style="max-height: 80px; line-height: 100%; font-size: x-small; word-break: break-all;"
                                                    v-text="content.Summary">
                                                </p>
                                            </div>
                                        </div>
                                    </b-carousel-slide>
                                </template>
                            </b-carousel>
                            </div>
                        </template>                
                    </b-tab>

                    <b-tab title="タイムライン" v-on:click="ontabclick('timeline')">
                        <template v-for="(content, contentid) in timelineList.items">
                            <br>
                            <b-card v-on:click="openUrl(content.Url)"
                                v-bind:header="content.Title"
                                v-bind:footer="content.ModifyDate"
                                footer-text-variant="right"
                                footer-class="small">
                                <template v-if="content.ImageUrl !== ''">
                                    <b-card-img
                                        background="rgb(76, 76, 76)"
                                        v-bind:src="content.ImageUrl"
                                        >
                                    </b-card-img>
                                </template>                                
                                <br>
                                <br>
                                <p style="line-height: 100%; font-size: small; word-break: break-all;"
                                    v-text="content.Summary">
                                </p>
                            </b-card>
                        </template>
                    </b-tab>

                    <b-tab title="設定">
                        <br>
                        <h4>マイ・サイト</h4>
                        現在通知対象、または過去に通知対象としてチェックしたことのあるサイトです。
                        <table class="table">
                            <thead>
                            <tr class="d-flex">
                                <th class="col-2">通知</th>
                                <th class="col-10">サイト名</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="d-flex" v-for="(item, index) in myList.items">
                                <td class="col-1" v-on:click="item.Value=!item.Value; toggleAtMyList(index)">
                                    <input type="checkbox" v-model="item.Value">
                                </td>
                                <td class="col-9" v-on:click="item.Value=!item.Value; toggleAtMyList(index)">{{item.SiteTitle}}
                                    <span class="badge badge-pill badge-secondary">{{item.Type}}</span>
                                </td>
                                <td class="col-2">
                                    <b-button
                                        class="float-right"
                                        v-on:click="remove(index)"
                                        size="sm"
                                        variant="danger">削除
                                    </b-button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
            
                        <h4>登録済みサンプルサイト</h4>
                        <table class="table">
                            <thead>
                            <tr class="d-flex">
                                <th class="col-12">サイト名</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="d-flex" v-for="(item, index) in publicList.items">
                                <td class="col-10" v-on:click="item.Value=!item.Value;">{{item.SiteTitle}}
                                    <span class="badge badge-pill badge-secondary">{{item.Type}}</span>
                                </td>
                                <td class="col-2" v-on:click="item.Value=!item.Value;">
                                    <b-button
                                        class="float-right"
                                        v-on:click="addfeed(index)"
                                        size="sm"
                                        variant="success"
                                        >購読
                                    </b-button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </b-tab>
                    <b-tab title="追加">
                        <br>
                        サイトURL(フィード配信URL)
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button id="addSite" class="btn btn-success" disabled>追加</button>
                            </div>
                            <input type="url" class="form-control" id="siteUrl" placeholder="http://any_site/feed.xml">
                        </div>
                        <br>
                        キーワード検索
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button id="searchSite" class="btn btn-success">検索</button>
                            </div>
                            <input type="text" class="form-control" id="keyword" placeholder="キーワード">
                        </div>
                        <br>
                        <div>
                            <b-card-group deck>
                                <template v-for="(site, siteid) in searchList.items">
                                    <b-card v-bind:header="site.title">
                                        <p v-text="site.snippet"></p>
                                        <b-button size="sm"
                                                variant="outline-success"
                                                v-on:click="addSite(site.feedURL)">登録する
                                        </b-button>
                                    </b-card>
                                </template>
                            </b-card-group>
                        </div>
                    </b-tab>
                </b-tabs>
                <div style="height: 200px;">

                </div>
            </div>
        </div>
    </body>
</html>